<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <Title>管理员操作记录</Title>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/styleSheetT.css">
</head>
<body>

<table>
    <tr>
        <th>管理员编号</th>
        <th>管理员账号</th>
        <th>操作名称</th>
        <th>操作时间</th>
    </tr>
    <foreach name="userArr" item="value" key="key">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
           
        </tr>
    </foreach>
	

</table>

<!--底部页面切换选项卡-->
<div class="bottomPageSelect">
    {$pageshow}
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/commentT.js"></script>
<script>
	
</script>
</html>