html , body{
    width: 100%;
    height: 100%;
    overflow: auto;
}
/*动态添加节点的 样式*/
.cteatElement{
    border-radius: 100%;
    box-shadow:  0 0 20px rgba(255,255,255,.8) inset;
    position: fixed;
}
/*运动云彩的样式*/
.cloud{
    width:150px;
    height:100px;
    position: absolute;
}
/*地图页面上方*/
.map_top{
    width: 100%;
    text-align: center;
    background: linear-gradient(to bottom,#65baf7,#004c84);
    position: fixed;
    top: 0;
    padding: 10px 0;
    z-index: 1;
}
.backButton{
    color: #fff;
    width: 60px;
    text-align: center;
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 5px 0;
    position: fixed;
    font-size: 14px;
    top: 1%;
    left: 5%;
    z-index: 1;
}
.map_top span:nth-child(1){
    color: #f9f8f7;
    text-shadow: 0 0 5px #31caaa;
    display: inline-block;
    vertical-align: middle;
}
.map_top span:nth-child(2){
    color: #fff;
    width: 25%;
    font-size: 15px;
    background: #aed2ec;
    border: solid 2px #b8e1ff;
    border-radius: 15px;
    box-shadow: 0 0 5px #000 inset;
    padding: 5px 0;
    display: inline-block;
    vertical-align: middle;
}
/*地图显示DIV*/
.mapDiv{
    width: 800px;
    height: 700px;
    background: linear-gradient(to bottom right,#000000,#132d46,#2f4982,#2b9cd4,#fbb670);
    background: url(../images/farm/1111.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin-top: 13%;
    position: relative;
}
/*地图显示的点击层 */
.mapDiv .map_div{
    border-radius:30px;
    position: absolute;
}
/*地图点击层：锁头图标*/
.mapDiv .map_div img{
    width: 43px;
    height: 59px;
    display: none;
    position: absolute;
}
/*地图点击层：点击进入图标*/
.mapDiv .map_div a{
    color: #fff;
    font-size: 14px;
    width: 115px;
    background: linear-gradient(to bottom,#53ffd5,#4ddeb6,#6ff3b0);
    border-radius: 5px;
    text-align: center;
    text-shadow: 0 0 5px #000;
    box-shadow: 0 0 10px #ccc;
    padding: 4% 0;
    display: inline-block;
    position: absolute;
}
.mapDiv .map_div1 {
    width: 208px;
    height: 300px;
    top: 17%;
    left: 9%;
}

.mapDiv .map_div2 {
    width: 214px;
    height: 221px;
    top: 3%;
    left: 35%;
}

.mapDiv .map_div3 {
    left: 69%;
    top: 5%;
    width: 100px;
    height: 188px;
}

.mapDiv .map_div4 {
    top: 43%;
    left: 36%;
    width: 202px;
    height: 333px;
}

.mapDiv .map_div5 {
    width: 180px;
    height: 312px;
    left: 69%;
    top: 38%;
}
.mapDiv .map_div1 img{
    top: 38%;
    left: 39%;
}
.mapDiv .map_div2 img{
    top: 32%;
    left: 28%;
}
.mapDiv .map_div3 img{
    top: 28%;
    left: 29%;
}
.mapDiv .map_div4 img{
    top: 30%;
    left: 39%;
}
.mapDiv .map_div5 img{
    top: 34%;
    left: 41%;
}
.mapDiv .map_div1 a{
    top: 46%;
    left: 23%;
}
.mapDiv .map_div2 a{
    top: 46%;
    left: 8%;
}
.mapDiv .map_div3 a{
    top: 46%;
    left: -8%;
}
.mapDiv .map_div4 a{
    top: 46%;
    left: 23%;
}
.mapDiv .map_div5 a{
    top: 46%;
    left: 10%;
}
/*提示*/
.promptDiv {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.promptBlock {
    width: 75%;
    height: 35%;
    border-radius: 15px;
    background-image: url(../images/home/alertBoard.png);
    background-repeat: no-repeat;
    background-size: 100% 102%;
    margin: 50% auto;
}

.promptBlock .promptBlock_title {
    border-radius: 10px 10px 0 0;
    border-bottom: solid 2px #999;
}

.promptBlock .promptBlock_title span {
    color: #fff;
    text-shadow: 0 0 4px #000;
    margin: 2% 0 2% 10%;
    display: inline-block;
}

.promptBlock .promptBlock_message {
    color: #fff;
    height: 63%;
    font-size: 15px;
    text-align: center;
    text-shadow: 0 0 3px #000;
    padding-top: 62px;
}

.promptBlock .promptBlock_foot {
    text-align: center;
    border-radius: 0 0 10px 10px;
    padding: 15px 0;
}

.promptBlock .promptBlock_foot span {
    width: 100px;
    height:34px;
    color: #fff;
    text-shadow: 0 0 5px #000;
    box-shadow: 0 0 10px #634a13 inset;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 0;
    margin: 0 5%;

}

.promptBlock .promptBlock_foot span:nth-child(1) {
    background: url(../images/home/confirm-longbtn.png);
    background-position: center;
    background-size: 210% 120%;
    background-repeat: no-repeat;

}

.promptBlock .promptBlock_foot span:nth-child(2) {
    background: url(../images/home/confirm-longbtn2.png);
    background-position: center;
    background-size: 210% 120%;
    background-repeat: no-repeat;

}

